<div class="row">
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5 class="mb-3">Genel Analiz</h5>
                <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5 class="mb-3">@DateTime.Now.Year Ürün Değerleri</h5>
                <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
            </div>
        </div>
    </div>
</div>