<div class="blog" id="blog">
    <div class="container">
        <h3 class="tittle">Son Haberler</h3>
        <p class="heading-btm-w3ls">Çiftliklerimizden ve tarım projelerimizden güncel gelişmeler.</p>

        <div class="blog-grid-w3-agileits">
            <div class="col-md-7 blog-img1-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#blogModal1"></a>
            </div>
            <div class="col-md-5 blog-info-w3layouts">
                <h6>
                    <a href="#" data-toggle="modal" data-target="#blogModal1">Tarımsal Büyümede Yeni Adımlar</a>
                </h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">InHarvest</a><span>16/11/2016</span>
                    <p class="para-w3-agileits">
                        Üretimde verimliliği artırmak için yeni ekipman ve süreç iyileştirmeleriyle sahada çalışmalarımızı genişletiyoruz.
                    </p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#blogModal1">Devamını Oku</a>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="blog-grid-w3-agileits">
            <div class="col-md-5 blog-info-w3layouts blog-mid">
                <h6>
                    <a href="#" data-toggle="modal" data-target="#blogModal2">Tarım Sektöründe Sürekli İyileştirme</a>
                </h6>
                <div class="inner-info-mid">
                    <a href="#" class="blog-text-w3ls mid-bar">InHarvest</a><span>12/10/2016</span>
                    <p class="para-w3-agileits">
                        Toprak analizi, sulama planı ve kaynak yönetimiyle daha sürdürülebilir üretim hedefliyoruz.
                    </p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#blogModal2">Devamını Oku</a>
            </div>
            <div class="col-md-7 blog-img2-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#blogModal2"></a>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="blog-grid-w3-agileits">
            <div class="col-md-7 blog-img3-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#blogModal3"></a>
            </div>
            <div class="col-md-5 blog-info-w3layouts">
                <h6>
                    <a href="#" data-toggle="modal" data-target="#blogModal3">Pazarda İlk Adımlarımız</a>
                </h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">InHarvest</a><span>06/08/2016</span>
                    <p class="para-w3-agileits">
                        Yerel üreticilerle iş birlikleri kurarak ürün ve hizmet ağımızı genişletmeye devam ediyoruz.
                    </p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#blogModal3">Devamını Oku</a>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

<div class="modal fade" id="blogModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">Kapat</button>
                <h4>InHarvest Tarım Teknolojileri</h4>
                <img src="~/OOP_Core_Templates/web/images/b1.jpg" alt=" " class="img-responsive" />
                <h5>Tarımsal Büyümede Yeni Adımlar</h5>
                <p>
                    Üretim süreçlerinde zaman ve enerji tasarrufu sağlamak için saha çalışmalarımızı genişletiyoruz.
                    Yeni nesil ekipmanlar, veri odaklı planlama ve operasyonel iyileştirmeler ile verimliliği artırmayı hedefliyoruz.
                    Bu sayede hem maliyetleri optimize ediyor hem de sürdürülebilir üretimi destekliyoruz.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="blogModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">Kapat</button>
                <h4>InHarvest Tarım Teknolojileri</h4>
                <img src="~/OOP_Core_Templates/web/images/b2.jpg" alt=" " class="img-responsive" />
                <h5>Tarım Sektöründe Sürekli İyileştirme</h5>
                <p>
                    Toprak analizi, sulama optimizasyonu ve kaynak yönetimi gibi alanlarda sürekli iyileştirme yaklaşımı benimsiyoruz.
                    Üretimin her aşamasında kaliteyi artırmak ve israfı azaltmak için süreçlerimizi düzenli olarak güncelliyoruz.
                    Hedefimiz; sürdürülebilir, ölçülebilir ve yüksek verimli tarım uygulamalarını yaygınlaştırmak.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="blogModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">Kapat</button>
                <h4>InHarvest Tarım Teknolojileri</h4>
                <img src="~/OOP_Core_Templates/web/images/b3.jpg" alt=" " class="img-responsive" />
                <h5>Pazarda İlk Adımlarımız</h5>
                <p>
                    Yerel üreticilerle kurduğumuz iş birlikleri sayesinde ürün portföyümüzü ve hizmet ağımızı genişletiyoruz.
                    Müşteri memnuniyetini merkeze alarak; güvenilir, kaliteli ve sürdürülebilir çözümler sunmaya odaklanıyoruz.
                    Bu yolculukta, teknolojiyi tarımla buluşturarak sektöre değer katmayı amaçlıyoruz.
                </p>
            </div>
        </div>
    </div>
</div>