<head>
    <title> In Harvest | Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="~/OOP_Core_Templates/web/css/bootstrap.css" rel="stylesheet" />
    <link href="~/OOP_Core_Templates/web/css/font-awesome.css" rel="stylesheet" />
    <link href="~/OOP_Core_Templates/web/css/chocolat.css" rel="stylesheet" />
    <link href="~/OOP_Core_Templates/web/css/easy-responsive-tabs.css" rel="stylesheet" />
    <link href="~/OOP_Core_Templates/web/css/style.css" rel="stylesheet" />

    <script src="~/OOP_Core_Templates/web/js/modernizr-2.6.2.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
</head>
